boto3
h5py
matplotlib>=3.3.2
numpy
rapidfuzz
gdown
inflect
sacrebleu[ja]
nltk>=3.6.5
fasttext
opencc
pangu
jieba
ftfy
flask_restful
einops
ijson
faiss-cpu
sentence_transformers
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
