black==19.10b0
isort[requirements] < 5
parameterized
pytest
pytest-runner
ruamel.yaml
sphinx
sphinxcontrib-bibtex
wrapt
wget
wandb
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
