braceexpand
editdistance
inflect
librosa
marshmallow
packaging
ruamel.yaml
soundfile
sox
kaldi-python-io
kaldiio
scipy>=0.14
g2p_en
pydub
pyannote.core
pyannote.metrics
ipywidgets
matplotlib
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
